#menum ul 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#menum li 
{
    width: 180px;
    float: left;
    position: relative;
}
#menum li ul
{
    display: none;

}
#menum ul li a
{
   
    background-color: red;
    color: yellow;
    display: block;
    padding: 3px;
    margin: 3px;
    font-size: 14pt;
    text-decoration: none;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}
#menum ul li a:hover 
{
    background-color: yellow;
    color: red;
}
#menum li:hover ul
{
    display: block;
}
