#menum ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#menum li
{
    float: left;
    width: 200px;
    position: relative;
  
}
#menum li ul
{
    display: none;
    position: absolute;
    left: 0px;
    top: 34px;
}
#menum ul li a
{
    background-color: rgb(236, 213, 2);
    color: rgb(247, 3, 3);
    text-decoration:none;
    font-size: 14pt;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    padding: 3px;
    margin-right: 3px;
    margin-top: 3px;
}
#menum ul li a:hover
{
    background-color: rgb(247, 3, 3);
    color: rgb(236, 213, 2);
}
#menum li:hover ul
{
    display: block;
}
#menum
{
    width: 1007px;
    margin-left: auto;
    margin-right: auto;
}
